body {
  background-color: #e5e5e5;
  padding: 40px;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  /* background: #fff; */
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* < !-- Main content --> */
.main-content {
  position: relative;
  padding: 88px;
}

.main-content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0 0 8px 0;
}

.thumb {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../img/mc_fon.jpg');

  background-repeat: no-repeat;
  /* background-size: contain;  */
  background-size: cover;
  opacity: 0.2;
}

/* < !-- About my --> */
.my-profession {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 18px 0;
  padding: 0 0 0 100px;
}

.my-name {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  /* color: #000000; */

  /* color: #6D9BF5; */
  color: orangered;

  /* margin: 0 0 28px 0; */
  margin: 0 0 14px 0;
}

.my-descr {
  text-align: justify;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  /* color: #595959; */
  /* color: orangered; */

  color: blue;

  /* width: 525px; */
  width: 750px;
  margin: 6px;
}

.about-my-content {
  margin-bottom: 64px;
}

/* < !-- My projects --> */

.projects-container {
  margin-bottom: 48px;
}

.project-list {
  padding: 0 0 0 14px;
  margin: 0;
}

.project-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project-item-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #005fff;
}

/* < !-- Work experience --> */

.work-experience-container {
  margin-bottom: 44px;
}

.main-content-title {
  text-align: center;
  /* color: #6D9BF5; */
  /* color: orangered; */
  color: blue;
}

.work-experience-position {
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* color: #000000; */
  text-decoration: underline;
  /* color: blue; */
  color: orangered;

  /* margin: 0; */
  margin: 0;
}

.work-experience-company {
  color: #6d9bf5;
}

.work-experience-place {
  margin-bottom: 16px;
}

.work-period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 12px 0 8 px 0;
}

.work-duties-list {
  padding: 0 0 0 16px;
  margin: 0;
}

.work-duties {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.work-experience-place-and {
  margin-bottom: 40px;
}

/* < !-- Education --> */
/* .education-container {} */
.education-content {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #6d9bf5;
  margin: 0 0 10px 0;
}

.education-position {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 12px 0;
}

.education-period {
  font-style: normal;
  /* font-weight: 400; */
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* color: hsl(0, 78%, 4%); */
  /* color: blue; */
  color: orangered;
}

/* Sidebar */
.sidebar {
  width: 370px;
  background: #e0ebfe;
}

.profile {
  opacity: 0.7;
  padding: 8px;
}

.my-photo {
  margin-top: 40px;
}

.sidebar-title {
  text-align: left;
  font-style: normal;
  /* font-weight: 700; */
  font-size: 22px;
  line-height: 27px;
  /* color: #161D2A; */
  color: blue;
  margin-top: 100px;
  margin-bottom: 8px;
}

/* Contacts */
.contacts-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  margin-right: 8px;
}

.contacts-item {
  margin: 0;
}

.contacts-number {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}

.contacts-email {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #2979ff;
}

.contacts-items {
  text-align: left;
  list-style: none;

  padding: 0;
  margin-top: 70px;
  /* margin: 0; */
}
.contact-item {
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: orangered;
}

.contact-item-content {
  text-align: right;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: blue;
  padding: 0 10px;
}
/* < !-- Tech skills --> */
/* Soft skills */
.contakts-container,
.tech-skills-container {
  margin: 48px 0 0 40px;
}

.soft-skills-container {
  margin: 44px 0 0 40px;
}

.skills-list {
  margin: 0;
  padding: 0 0 0 16px;
}

.skills-list-item {
  color: #6d9bf5;
}

.skills-list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}
